/* .complete_arrivals > .heading_text {
  font-size: 3.125rem;
  text-align: center;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  padding: 2rem;
}

.allData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.allData > .new_card {
  border: 2px solid rgb(236, 205, 205);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}

.allData > .new_card > .card_img {
  width: 300px;
  height: 300px;
}

.new_card > .item_title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.new_card > .card_price {
  font-size: 1.5rem;
  color: lightslategray;
}

.new_card > button {
  background-color: crimson;
  display: flex;
  padding: 1rem 2rem;
  border-radius: 10px;
  align-items: center;
  gap: 5px;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .complete_arrivals > .heading_text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 900px) {
  .allData {
    justify-content: center;
  }

  .allData > .new_card {
    width: 45%;
  }
  .allData > .new_card > .card_img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .complete_arrivals > .heading_text {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
  .allData > .new_card {
    width: 100%;
  }
  .allData > .new_card > .card_img {
    width: 200px;
    height: 200px;
  }

  .new_card > .item_title {
    font-size: 1rem;
  }
} */

.cartHeading {
  font-size: 40px;
  font-weight: bolder;
  font-family: fantasy;
  padding: 2rem 5rem;
}

.completeCart {
  display: flex;
  flex-direction: row;
  padding: 0rem 5rem;
  justify-content: space-between;
}

.cartAllData {
  border: 2px solid #d3d0d0;
  width: 60%;
  padding: 1rem;
}

.cartAllData > .new_card > .card_img {
  width: 124px;
  height: 124px;
  padding: 1rem;
  background-color: #dcd1d1;
  border: 2px solid #b3a6a6;
  border-radius: 10px;
}

.cartAllData > .new_card > .card_content > .deleteBtn {
  width: 24px;
  height: 24px;
}

.cartAllData > .new_card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.new_card > .card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.new_card > .card_content > .price_title > p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.new_card > .card_content > .price_title > h3 {
  font-size: 20px;
  color: #9c8d8d;
  font-weight: bolder;
}

.cartTotalPrice {
  border: 2px solid #d3d0d0;
  width: 35%;
  padding: 1rem;
  height: max-content;
}

.cartTotalPrice > h2 {
  font-size: 24px;
  font-weight: bolder;
}

.cartTotalPrice > .prices {
  margin-top: 1rem;
}

.cartTotalPrice > .prices > .priceSeparation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cartTotalPrice > .checkout {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
}

.cart_mridul {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  /* margin-top: 2rem; */
  padding-top: 6rem;
}

@media screen and (max-width: 800px) {
  .completeCart {
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 2rem;
  }

  .cartAllData {
    width: 100%;
  }

  .cartTotalPrice {
    width: 100%;
  }

  .cartHeading {
    font-size: 32px;
    padding: 2rem;
  }

  .cartAllData > .new_card > .card_img {
    width: 80px;
    height: 80px;
  }

  .new_card > .card_content > .price_title > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .cartHeading {
    padding: 6rem 2rem 2rem 2rem;
  }
}
