.checkoutPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.options {
  margin-top: 2rem;
}

.checkoutContent > h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: fantasy;
  /* padding: 2rem 5rem; */
}

.optionChoices {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.optionChoices > input {
  /* margin-top: 5px; */
  width: 20px;
  height: 20px;
}

.optionChoices > h2 {
  font-size: 28px;
  font-weight: 500;
  font-family: cursive;
}

.orderNow {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.orderNow > button {
  background-color: red;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .checkoutPage {
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 2rem;
  }
  .checkoutContent > h1 {
    font-size: 28px;
    text-align: center;
  }

  .checkoutPage {
    margin-top: 2rem;
  }
  .optionChoices > h2 {
    font-size: 20px;
  }
}
