.sliders {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.image {
  width: 250px;
  height: 250px;
}

.card_info {
  padding: 1rem;
}

.offer {
  width: max-content;
  margin: auto;
  color: white;
  font-weight: 700;
  padding: 0.7rem;
  background-color: #ff2c2c;
  border-radius: 10px;
}

.title {
  margin-top: 10px;
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.slick-slide > div {
  margin: 0px 10px;
  text-align: center;
}

.slick-slide > div > .card {
  background-color: #dccece;
  cursor: pointer;
  height: 450px;
  padding: 1rem 0rem;
}
.slick-slide > div > .card .card_img {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.slick-slide {
  overflow: hidden;
}

.slick-slide button {
  position: absolute;
  bottom: 0;
}
