.selling {
  margin-bottom: 3rem;
}

.sellingheading {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.clothCards {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 1rem 4rem;
}

.singleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.singleCard > img {
  background-color: #f0f0f0;
  border-radius: 20px;
}

.singleCard > .clothName {
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui;
  margin-top: 10px;
  line-height: normal;
}

.singleCard > .cardInfo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  width: 12rem;
}

.singleCard > .cardInfo > .price,
.previous {
  font-weight: 700;
  font-size: 20px;
}

.singleCard > .cardInfo > .previous {
  text-decoration: line-through;
  color: gray;
}
.singleCard > .cardInfo > .discount {
  background-color: #f0f0f0;
  color: #ed0e0e;
  padding: 0px 8px;
  border-radius: 10px;
  font-weight: 600;
}

.selling > h6 {
  text-align: center;
  font-weight: 500;
}

.heading_viewMore {
  display: none;
}

.arrowForViewMore {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .sellingheading {
    /* font-size: 32px; */
    display: none;
  }
  .heading_viewMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
  }
  .heading_viewMore_heading {
    font-size: 28px;
    font-weight: 700;
  }

  .singleCard > .clothName {
    font-size: 16px;
  }
  .clothCards {
    padding: 1rem 0rem;
  }

  .singleCard:nth-child(1) {
    margin-top: 1rem;
  }

  .selling > h6 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .singleCard:nth-child(1) {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900) {
  .clothCards {
    overflow-x: scroll;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .clothCards::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}
